<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layouts :: header"></head>
<body>
    <nav th:replace = "layouts :: navbar"></nav>
    <br>
    <div class="container">
        <h2>Employee Registration Form</h2>
        <form action="/employees/save"  th:object="${employee}" method="POST">
           <!--   This will be used to bind to the employee that was clicked on (USED FOR UPDATES) -->
            <input type="hidden" th:field="${employee.employeeId}"/>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter Name" name="firstName"
                       th:field="${employee.firstName}">
                <span style="color:red" th:if="${#fields.hasErrors('firstName')}"
                      th:errors="${employee.firstName}">
                </span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" name="lastName"
                       th:field="${employee.lastName}">
                <span style="color:red" th:if="${#fields.hasErrors('lastName')}"
                      th:errors="${employee.lastName}">
                </span>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email Address" name="email"
                       th:field="${employee.email}">
                <span style="color:red" th:if="${#fields.hasErrors('email')}"
                      th:errors="${employee.email}">
                </span>
            </div>
            <button class="btn btn-info col-2" type="submit">Submit</button>
        </form>
    </div>

</body>
</html>
